.App-header {
    background-color: #f5f5f5;;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
}

.header-container {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 1.2rem;
}

.logo-container, .sections-container {
    display: flex;
}

.logo-site-title {
    align-self: center;
    text-transform: uppercase;
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.categories-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.news-category, .expanded-news-category, .expanded-nested-news-category {
    text-decoration: none;
    color: #000000;
}

.news-category, .expanded-nested-news-category { 
    font-weight: 400;
    font-size: 1.1rem;
}

.listen-category {
    margin-left: 10rem;
}

.hamburger-icon {
    margin-left: .8rem;
    align-self: center;
}

.listen-category:hover, .search-icon:hover, .sections-container:hover, .close-icon-desktop, .close-icon-mobile {
    cursor: pointer;
}

.sections-container > p:hover {
    color: #808080;
    transition: all .3s;
}

/* EXPANDED SECTIONS */
.sections-collapsible > .top-row, .sections-collapsible > .bottom-row {
    display: flex;
    align-items: flex-start;
}

.expanded-news-category {
    width: 6.25rem;
    margin-right: 6rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.expanded-news-category-container, .nested-news-container {
    display: flex;
    flex-direction: column;
}

.expanded-nested-news-category {
    margin-bottom: .5rem;
}

.expanded-news-category-container > .expanded-news-category {
    margin-bottom: .4rem;
}

.close-icon-mobile {
    display: none !important;
}

.close-icon-desktop {
    display: block;
}

/* END EXPANDED SECTIONS */

@media (max-width: 768px) {
    .header-container {
        width: 100%;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .non-collapsible-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .categories-container {
        margin: 0;
    }

    .news-category {
        display: none !important;
    }

    .logo-site-title {
        margin-left: 1rem;
        font-size: 1.6rem;
    }

    .logo-image {
        height: 56px;
        width: 48.3982px;
    }

    .hamburger-icon, .search-icon {
        display: block !important;
        width: 28px;
        height: 28px;
    }

    img {
        display: block;
    }

    .sections-collapsible {
        margin-top: 2rem;
        width: 100%;
    }

    .sections-collapsible > .top-row, .sections-collapsible > .bottom-row {
        display: flex;
        flex-direction: column;
    }

    .expanded-news-category {
        width: auto;
        margin-right: 0;
        margin-bottom: .8rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .nested-news-container {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    .expanded-nested-news-category {
        margin-right: 2rem;
        width: 7.5rem;
    }

    .close-icon-mobile {
        display: block !important;
        margin-left: .6rem;
        align-self: center;
    }

    .close-icon-desktop {
        display: none;
    }
}