.home-news-container {
    width: 1300px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.home-news-red-line {
    width: 64px;
    height: 7px;
    background-color: #ff322e;
    border: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

.home-news-title {
    text-transform: uppercase;
    font-size: 1.125rem;
    padding-top: 1.0625rem;
    font-weight: 700;
}

.home-news-news-container {
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
}

.home-news-first-news-column .article-title {
    color: #000000;
    font-size: 3.125rem;
    width: 615px;
}

.home-news-first-news-column .article-meta {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-bottom: 1rem;
}

.home-news-first-news-column .article-by {
    margin-right: 1.4rem;
}

.home-news-first-news-column .article-description {
    margin-top: .8rem;
    width: 615px;
    font-weight: 300;
    font-size: 1.1rem;
}

.home-news-first-news-column .links-section {
    margin-top: 1.2rem;
    display: flex;
    width: 615px;
}


.home-news-first-news-column .link-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    margin-right: 1rem;
    height: 50px;
    font-size: 0;
}

.home-news-first-news-column .topic-links {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
}

.home-news-first-news-column .topic-links a {
    color: #0a3175;
}

.home-news-first-news-column, .home-news-second-news-column, .home-news-third-news-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondary-news-article .article-title {
    display: block;
    font-size: 1.225rem;
    width: 280px;
    margin-bottom: .5rem;
}

.secondary-news-article .thumbnail-author-container {
    display: flex;
}

.by-mobile {
    display: none;
}

.secondary-news-article .thumbnail-author-container div {
    margin-left: 1rem;
    font-size: .9rem;
    font-weight: 300;
}

.secondary-news-article a {
    color: #000000;
}

.home-news-second-news-column .topic-headliner {
    padding: .1rem .2rem;
    background-color: #d90000;
    color: white;
    width: 150px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: -1rem;
}

.separator-line {
    margin-top: 1rem;
    color: lightgray;
    opacity: 30%;
}

.top-news-headliner {
    padding: .1rem .2rem;
    background-color: #104ba5;
    color: white;
    width: 150px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 5rem;
}

@media (max-width: 798px) {
    .home-news-container {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .home-news-news-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .home-news-red-line {
        width: 50px;
    }

    .home-news-title {
        font-size: 1rem;
    }
    
    .home-news-first-news-column, .home-news-second-news-column, .home-news-third-news-column, .home-news-first-news-column img {
        width: 100% !important;
        height: auto !important;
    }

    .home-news-first-news-column .article-title {
        color: #000000;
        font-size: 1.8rem;
        width: 100%;
    }

    .home-news-first-news-column .article-meta {
        font-size: .9rem;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .home-news-first-news-column .article-description {
        margin-top: 1rem;
        margin-bottom: .8rem;
        width: 100%;
        font-size: 1.1rem;
    }

    .home-news-first-news-column .links-section {
        margin-top: 0;
        width: 100%;
    }
    
    .home-news-first-news-column .links-section .topic-links {
        display: none;
    }

    .home-news-first-news-column .link-icons {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    .home-news-first-news-column .link-icons img {
        width: 32px !important;
        height: 32px !important;
    }

    .home-news-second-news-column .topic-headliner {
        width: 150px;
        font-size: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .secondary-news-article {
        display: flex;
        padding-bottom: 1.6rem;
        margin-bottom: 1.6rem;
        border-bottom: 1px solid;
        border-color: rgba(0,0,0,0.1);
    }

    .secondary-news-article .article-title-author-container {
        width: 70%;
    }

    .secondary-news-article .article-title {
        width: 70%;
        font-size: 1.2rem;
    }

    .secondary-news-article .thumbnail-author-container {
        width: 30%;
    }

    .thumbnail-author-container .elapsed, .thumbnail-author-container .by {
        display: none;
    }

    .secondary-news-article .article-title-author-container  {
        font-size: 1rem;
        width: 70%;
    }

    .secondary-news-article .thumbnail-author-container div {
        margin-left: 0;
    }

    .by-mobile {
        display: block;
        font-weight: 300;
    }

    .article-title-author-container {
        display: flex;
        flex-direction: column;
    }

    .thumbnail-author-container img {
        width: 100% !important;
        height: 100% !important;
    }

    .article-title-author-container .article-topic {
        display: block !important;
        font-size: .9rem;
        margin-bottom: .5rem;
        color: #0a3175;
    }

    .home-news-third-news-column .separator-line {
        display: none;
    }

}