.home-news-container {
    width: 1300px;
    margin: 0 auto;
}

.home-news-red-line {
    width: 64px;
    height: 7px;
    background-color: #ff322e;
    border: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;

}

.home-news-title {
    text-transform: uppercase;
    font-size: 1.125rem;
    padding-top: 1.0625rem;
    font-weight: 700;
}

.home-news-news-container {
    margin-top: .8rem;
    display: flex;
    justify-content: space-between;
}

.home-news-first-news-column .article-title {
    color: #000000;
    font-size: 3.125rem;
    width: 615px;
}

.home-news-first-news-column .article-meta {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-bottom: 1rem;
}

.home-news-first-news-column .article-by {
    margin-right: 1.4rem;
}

.home-news-first-news-column .article-description {
    margin-top: .8rem;
    width: 615px;
    font-weight: 300;
    font-size: 1.1rem;
}

.home-news-first-news-column .links-section {
    margin-top: 1.2rem;
    display: flex;
    width: 615px;
}


.home-news-first-news-column .link-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    margin-right: 1rem;
    height: 50px;
    font-size: 0;
}

.home-news-first-news-column .topic-links {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
}

.home-news-first-news-column .topic-links a {
    color: #0a3175;
}

.home-news-second-news-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
}

.secondary-news-article .article-title {
    display: block;
    font-size: 1.225rem;
    width: 280px;
    margin-bottom: .5rem;
}

.secondary-news-article .thumbnail-author-container {
    display: flex;
}

.secondary-news-article .thumbnail-author-container div {
    margin-left: 1rem;
    font-size: .9rem;
    font-weight: 300;
}

.secondary-news-article a {
    color: #000000;
}

.home-news-second-news-column .topic-headliner {
    padding: .1rem .2rem;
    background-color: #d90000;
    color: white;
    width: 150px;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: -1rem;
}

@media (max-width: 798px) {
  .home-news-container {
    width: 100%;
    margin-left: 1rem;
  }
}